In [60]:
# Importing the required packages here

import numpy as np
import pandas as pd
import seaborn as sns
import ast, json

from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [61]:
# Load the dataset
automobile_df = pd.read_table('automobile.txt', delimiter=',')

automobile_df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [62]:
#cleaning the dataset

#drop columns
automobile_df.drop(columns=['symboling','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','engine-type','num-of-cylinders','fuel-system','compression-ratio'],inplace=True)
automobile_df.head()

,normalized-losses,make,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,?,alfa-romero,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,111,5000,21,27,13495
1,?,alfa-romero,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,111,5000,21,27,16500
2,?,alfa-romero,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,154,5000,19,26,16500
3,164,audi,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,102,5500,24,30,13950
4,164,audi,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,115,5500,18,22,17450

In [80]:
#find the mean for the missing values and populate it

#fill all normalised losses for alfa-romero cars as zero as we cannot calculate mean
automobile_df.loc['normalized-losses','?'] = 0

cols = ['normalized-losses','bore','stroke','price','peak-rpm','horsepower']

for c in cols:
    temp_df = automobile_df.assign(make='make',temp_col=c)
    temp_mean_df = temp_df.groupby('make').mean()
    r_i = 0
    for v in automobile_df[c]:
        r_i += 1
        if v == '?':
            c_i = automobile_df.columns.get_loc(c)
            make = automobile_df['make'].iloc[r_i,]
            mean_value = temp_mean_df.loc[,make]
            automobile_df.iloc[r_i,c_i] = mean_value
            
automobile_df.head()

SyntaxError: invalid syntax (1482743720.py, line 17)

In [64]:
# drop records with missing data
#df_clean = automobile_df[automobile_df != '?']
#df_clean.dropna(inplace=True)
#df_clean.head()

In [65]:
#calculate the mean score for each make
df_mean = df_clean.mean()
df_mean

C:\Users\sarad\AppData\Local\Temp\ipykernel_31932\2474630667.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_mean = df_clean.mean()

normalized-losses            inf
wheel-base             98.235625
length                172.319375
width                  65.596250
height                 53.878750
curb-weight          2459.450000
engine-size           119.093750
horsepower                   inf
peak-rpm                     inf
city-mpg               26.506250
highway-mpg            32.068750
price                        inf
dtype: float64

In [66]:
#reduce the number of decimal places to make the data easier to read and ensure they are all integers
df_mean = df_mean.round(decimals = 2)
df_mean['wheel-base'].astype(np.int64)
df_mean.head(50)

normalized-losses        inf
wheel-base             98.24
length                172.32
width                  65.60
height                 53.88
curb-weight          2459.45
engine-size           119.09
horsepower               inf
peak-rpm                 inf
city-mpg               26.51
highway-mpg            32.07
price                    inf
dtype: float64